# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code workspace settings
.vscode/

# Virtual Environment
.venv/
venv/
env/

# Python bytecode/cache directories (matches globally across all subfolders)
**/__pycache__/
*.py[cod]
*$py.class

# Local data directory (ignores all data, logs, and outputs)
data/

# Label Studio UI configuration file
annotation/label-studio-ui.xml
notebooks/trained_spacy_model/config.cfg
notebooks/trained_spacy_model/meta.json
notebooks/trained_spacy_model/tokenizer
notebooks/trained_spacy_model/spancat/cfg
notebooks/trained_spacy_model/spancat/model
notebooks/trained_spacy_model/tok2vec/cfg
notebooks/trained_spacy_model/tok2vec/model
notebooks/trained_spacy_model/vocab/key2row
notebooks/trained_spacy_model/vocab/lookups.bin
notebooks/trained_spacy_model/vocab/strings.json
notebooks/trained_spacy_model/vocab/vectors
notebooks/trained_spacy_model/vocab/vectors.cfg
local_output/model-best/config.cfg
local_output/model-best/meta.json
local_output/model-best/tokenizer
local_output/model-best/spancat/cfg
local_output/model-best/spancat/model
local_output/model-best/tok2vec/cfg
local_output/model-best/tok2vec/model
local_output/model-best/vocab/key2row
local_output/model-best/vocab/lookups.bin
local_output/model-best/vocab/strings.json
local_output/model-best/vocab/vectors
local_output/model-best/vocab/vectors.cfg
local_output/model-last/config.cfg
local_output/model-last/meta.json
local_output/model-last/tokenizer
local_output/model-last/spancat/cfg
local_output/model-last/spancat/model
local_output/model-last/tok2vec/cfg
local_output/model-last/tok2vec/model
local_output/model-last/vocab/key2row
local_output/model-last/vocab/lookups.bin
local_output/model-last/vocab/strings.json
local_output/model-last/vocab/vectors
local_output/model-last/vocab/vectors.cfg
notebooks/model.tar.gz
