# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code workspace settings
.vscode/

# Virtual Environment
.venv/
venv/
env/

# Python bytecode/cache directories
**/__pycache__/
*.py[cod]
*$py.class

# Local data (ignores all data, logs, and outputs)
data/

# Old retired scripts
archive/*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg